<!doctype html>
<html ng-app="roster">

<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" media="screen" href="style.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="converse.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script type="text/javascript" src="primus.js"></script>
    <script type="text/javascript" src="../angular-xmpp-services/bin/assets/angular-xmpp-services.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="bower_components/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script type="text/javascript" src="directives/xmppmuc/xmppmuc.js"></script>
    <script type="text/javascript" src="directives/chatbox/chatbox.js"></script>
    <script type="text/javascript" src="script.js"></script>

</head>

<body ng-controller="pageController as page">
<h2>xmpp-ftw angular conversejs clone</h2>

    https://conversejs.org/css/converse.min.css

    <div id="conversejs" style="display: block;">
        <div ng-include="'templates/controllbox.html'"></div>
<!--
        <div id="controlbox" class="chatbox" style="display: block;">
            <div class="box-flyout" style="height: 400px" ng-init="contacts=true;login=true">
                <div class="dragresize dragresize-tm"></div>
                <div class="chat-head controlbox-head">
                    <ul id="controlbox-tabs" ng-show="!page.xmpp.data.connected">
                        <li><a  ng-class="{'current':login!==false,'s':login==false}" ng-click="login=true" class="current" href="#login-dialog">Sign in</a> </li>
                        <li><a  ng-class="{'s':login,'current':login==false}" href="#register"ng-click="login=false"class="s" href="#register">Register</a> </li>
                    </ul>
                    <ul id="controlbox-tabs" ng-show="page.xmpp.data.connected">
                        <li><a  ng-class="{'current':contacts!==false,'s':contacts==false}" ng-click="contacts=true">Contacts</a> </li>
                        <li><a  ng-class="{'s':contacts,'current':contacts==false}" href="#register"ng-click="contacts=false">Rooms</a> </li>
                    </ul>
                    <a class="close-chatbox-button icon-close"></a>
                </div>
                <div class="controlbox-panes">
                    <div ng-show="login" ng-include="'templates/login.html'"></div>
                    <div ng-show="!login" ng-include="'templates/register.html'"></div>
                </div>
                <div class="controlbox-panes" ng-show="page.xmpp.data.connected">
                        <div ng-include="'templates/roster.html'"></div>
                <div id="chatrooms" class="controlbox-pane" ng-show="!contacts">
                    <form class="add-chatroom" action="" method="post">{{substate}}
                        <label>Room name</label>
                        <input type="text" name="chatroom" class="new-chatroom-name" placeholder="Room name">
                        <label>Nickname</label>
                        <input type="text" name="nick" class="new-chatroom-nick" placeholder="Nickname">
                        <label>Server</label>
                        <input type="text" name="server" class="new-chatroom-server" placeholder="Server">
                        <div class="button-group">
                            <input type="submit" class="left" name="join" value="Join Room">
                            <input type="button" class="right" name="show" id="show-rooms" value="Show rooms">
                        </div>
                    </form>
                    <dl id="available-chatrooms"></dl>
                </div>
            </div>
        </div>
-->
    <div  ng-repeat="room in page.chatboxes" >
    <chatbox ng-if="room.type=='chat'" xmpp="page.xmpp" user="room.address" onclose="page.closechat(jid)"></chatbox>
    <xmppmuc ng-if="room.type=='muc'" xmpp="page.xmpp" room="room.address" onclose="page.closemuc(jid)"></xmppmuc>
    </div>
<!--
    <div ng-include="'templates/chatbox.html'"></div>
    <div ng-include="'templates/chatroom.html'"></div>
-->
    <div id="minimized-chats" style="display: none;">
        <a id="toggle-minimized-chats" href="#">Minimized <span id="minimized-count">(0)</span>
<span class="unread-message-count" style="display: none" href="#">0</span>
</a>
        <div class="minimized-chats-flyout" style="display: block;"></div>
    </div>
    </div>
</body>

</html>
