                    <div id="users" class="controlbox-pane">
                        <form class="set-xmpp-status" action="" method="post">
                            <span id="xmpp-status-holder"><dl id="target" class="dropdown">
    <dt id="fancy-xmpp-status-select" class="fancy-dropdown"><div class="xmpp-status">
    <a class="choose-xmpp-status online" data-value="I am online" href="#" title="Click to change your chat status">

        <span class="icon-online"></span>I am online
                            </a>
                            <a class="change-xmpp-status-message icon-pencil" href="#" title="Click here to write a custom status message"></a>
                    </div>
                    </dt>
                    <dd>
                        <ul class="xmpp-status-menu" style="display: none;">
                            <li>
                                <a href="#" class="online" data-value="online">
                                    <span class="icon-online"></span>
                                    Online
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dnd" data-value="dnd">
                                    <span class="icon-dnd"></span>
                                    Busy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="away" data-value="away">
                                    <span class="icon-away"></span>
                                    Away
                                </a>
                            </li>
                            <li>
                                <a href="#" class="offline" data-value="offline">
                                    <span class="icon-offline"></span>
                                    Offline
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logout" data-value="logout">
                                    <span class="icon-logout"></span>
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </dd>
                    </dl>
                    </span>
                    </form>
                    <dl class="add-converse-contact dropdown">
                        <dt id="xmpp-contact-search" class="fancy-dropdown">
        <a class="toggle-xmpp-contact-form" href="#" title="Click to add new chat contacts">
        <span class="icon-plus"></span>Add a contact</a>
    </dt>
                        <dd class="search-xmpp" style="display:none">
                            <ul>
                                <li>
                                    <form class="add-xmpp-contact">
                                        <input type="text" name="identifier" class="username" placeholder="Contact username">
                                        <button type="submit">Add</button>
                                    </form>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <div id="converse-roster"><span class="input-button-group">
    <input style="display: none;" class="roster-filter" placeholder="Type to filter">
    <select style="display: none;" class="filter-type">
        <option value="contacts">Contacts</option>
        <option value="groups">Groups</option>
    </select>
</span>
                        <dl class="roster-contacts" style="display: block;"><dt class="roster-group" data-group="Ungrouped" style="display: block;"><a href="#" class="group-toggle icon-opened" title="Click to hide these contacts">Ungrouped</a></dt>
                            <dd class="online current-xmpp-contact" ng-repeat="item in page.xmpp.data.roster"><a class="open-chat" title="Name: {{item.jid.user}}@{{item.jid.domain}}
JID: {{item.jid.user}}@{{item.jid.domain}}
Click to chat with this contact" href="#"><span class="icon-online" title="This contact is online"></span>{{item.jid.user}}@{{item.jid.domain}}</a>

                                <a class="remove-xmpp-contact icon-remove" title="Click to remove this contact" href="#"></a>

                            </dd>
                        </dl>
                    </div>
                </div>
