    <div class="chatbox" id="2KTnLan/Qr1Gb7HkOwCjtjzMb8Q=" style="display: block;">
        <div class="box-flyout" style="height: 400px">
            <div class="dragresize dragresize-tm"></div>
            <div class="chat-head chat-head-chatbox">
                <a class="close-chatbox-button icon-close"></a>
                <a class="toggle-chatbox-button icon-minus"></a>
                <div class="chat-title">

                    robotnic@laos.buddycloud.com

                </div>
                <p class="user-custom-message" title=" (Abwesend wegen Untätigkeit für mehr als 5 Minuten)">(Abwesend wegen Untätigkeit für mehr als 5 Minuten)</p>
                <p></p>
            </div>
            <div class="chat-body">
                <div class="chat-content">
                    <div class="chat-message ">
                        <span class="chat-message-me">01:01 me:&nbsp;</span>
                        <span class="chat-message-content">asdf</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:01 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">sdf</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:02 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">ja</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:03 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">asfd</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-me">01:04 me:&nbsp;</span>
                        <span class="chat-message-content">sdf</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:05 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">yes</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:07 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">aaa</span>
                    </div>
                    <div class="chat-event">robotnic@laos.buddycloud.com has gone away</div>
                </div>
                <form class="sendXMPPMessage" action="" method="post">

                    <ul class="chat-toolbar no-text-select">
                        <li class="toggle-clear">
                            <a class="icon-remove" title="Clear all messages"></a>
                        </li>
                        <li class="toggle-otr unencrypted" title="Your messages are not encrypted. Click here to enable OTR encryption.">
                            <span class="chat-toolbar-text">unencrypted</span>

                            <span class="icon-unlocked"></span>
                            <ul>
                                <li><a class="start-otr" href="#">Start encrypted conversation</a>
                                </li>
                                <li><a href="http://www.cypherpunks.ca/otr/help/3.2.0/levels.php" target="_blank">What's this?</a>
                                </li>
                            </ul>
                        </li>

                        <li class="toggle-smiley icon-happy" title="Insert a smilery">
                            <ul style="display: none;">
                                <li>
                                    <a class="icon-smiley" href="#" data-emoticon=":)"></a>
                                </li>
                                <li>
                                    <a class="icon-wink" href="#" data-emoticon=";)"></a>
                                </li>
                                <li>
                                    <a class="icon-grin" href="#" data-emoticon=":D"></a>
                                </li>
                                <li>
                                    <a class="icon-tongue" href="#" data-emoticon=":P"></a>
                                </li>
                                <li>
                                    <a class="icon-cool" href="#" data-emoticon="8)"></a>
                                </li>
                                <li>
                                    <a class="icon-evil" href="#" data-emoticon=">:)"></a>
                                </li>
                                <li>
                                    <a class="icon-confused" href="#" data-emoticon=":S"></a>
                                </li>
                                <li>
                                    <a class="icon-wondering" href="#" data-emoticon=":\"></a>
                                </li>
                                <li>
                                    <a class="icon-angry" href="#" data-emoticon=">:("></a>
                                </li>
                                <li>
                                    <a class="icon-sad" href="#" data-emoticon=":("></a>
                                </li>
                                <li>
                                    <a class="icon-shocked" href="#" data-emoticon=":O"></a>
                                </li>
                                <li>
                                    <a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a>
                                </li>
                                <li>
                                    <a class="icon-heart" href="#" data-emoticon="<3"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <textarea type="text" class="chat-textarea" placeholder="Personal message"></textarea>
                </form>
            </div>
        </div>
    </div>
