    <div class="chatroom" id="Imq9ziUDC17g5euC+yKb0uI7Fi8=" style="display: none;">
        <div class="box-flyout" style="height: 400px">
            <div class="dragresize dragresize-tm"></div>
            <div class="chat-head chat-head-chatroom">
                <a class="close-chatbox-button icon-close"></a>
                <a class="toggle-chatbox-button icon-minus"></a>
                <a class="configure-chatroom-button icon-wrench" style="display:none"></a>
                <div class="chat-title">barachi</div>
                <p class="chatroom-topic"></p>
                <p></p>
            </div>
            <div class="chat-body">
                <div class="chat-area" style="display: none;">
                    <div class="chat-content"></div>
                    <form class="sendXMPPMessage" action="" method="post">

                        <ul class="chat-toolbar no-text-select">
                            <li class="toggle-smiley icon-happy" title="Insert a smilery">
                                <ul style="">
                                    <li>
                                        <a class="icon-smiley" href="#" data-emoticon=":)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wink" href="#" data-emoticon=";)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-grin" href="#" data-emoticon=":D"></a>
                                    </li>
                                    <li>
                                        <a class="icon-tongue" href="#" data-emoticon=":P"></a>
                                    </li>
                                    <li>
                                        <a class="icon-cool" href="#" data-emoticon="8)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-evil" href="#" data-emoticon=">:)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-confused" href="#" data-emoticon=":S"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wondering" href="#" data-emoticon=":\"></a>
                                    </li>
                                    <li>
                                        <a class="icon-angry" href="#" data-emoticon=">:("></a>
                                    </li>
                                    <li>
                                        <a class="icon-sad" href="#" data-emoticon=":("></a>
                                    </li>
                                    <li>
                                        <a class="icon-shocked" href="#" data-emoticon=":O"></a>
                                    </li>
                                    <li>
                                        <a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a>
                                    </li>
                                    <li>
                                        <a class="icon-heart" href="#" data-emoticon="<3"></a>
                                    </li>
                                </ul>
                            </li>



                            <li class="toggle-participants">
                                <a class="icon-hide-users" title="Hide the list of participants"></a>
                            </li>


                            <li class="toggle-clear">
                                <a class="icon-remove" title="Clear all messages"></a>
                            </li>


                        </ul>

                        <textarea type="text" class="chat-textarea" placeholder="Message"></textarea>
                    </form>
                </div>
                <div class="participants" style="display: none;">
                    <!-- <div class="participants"> -->
                    <form class="room-invite">
                        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input class="invited-contact tt-hint" type="text" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1;"><input class="invited-contact tt-input" placeholder="Invite..." type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="tt-dataset-contacts-dataset"></div></span></span>
                    </form>
                    <label>Occupants:</label>
                    <ul class="participant-list">
                        <li class="participant" title="This user can send messages in this room">robotnic</li>
                        <li class="moderator" title="This user is a moderator">jcbrand</li>
                    </ul>
                    <!-- </div> -->
                </div>
                <div class="chatroom-form-container">
                    <form class="chatroom-form">
                        <legend>This chatroom requires a password</legend>
                        <label>Password:</label>
                        <input type="password" name="password">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
