<!doctype html>
<html ng-app="roster">

<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" media="screen" href="converse.min.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script type="text/javascript" src="primus.js"></script>
    <script type="text/javascript" src="../angular-xmpp-services/bin/assets/angular-xmpp-services.js"></script>
    <script type="text/javascript" src="script.js"></script>

</head>

<body ng-controller="pageController as page">


    https://conversejs.org/css/converse.min.css

    <div id="conversejs" style="display: block;"><a href="#" id="toggle-controlbox" class="toggle-controlbox" style="display: none;"><span class="conn-feedback">Contacts</span>
<span style="" id="online-count">(1)</span>
</a>
        <div id="controlbox" class="chatbox" style="display: block;">
            <div class="box-flyout" style="height: 400px">
                <div class="dragresize dragresize-tm"></div>
                <div class="chat-head controlbox-head">
                    <ul id="controlbox-tabs">
                        <li><a class="current" href="#login-dialog">Sign in</a>
                        </li>
                        <li><a class="s" href="#register">Register</a>
                        </li>
                    </ul>
                    <a class="close-chatbox-button icon-close"></a>
                </div>
                <div class="controlbox-panes">
                    <div id="login-dialog" class="controlbox-pane">
                        <form id="converse-login" method="post" ng-submit="page.login(jid,password)">
                            <label>XMPP Username:</label>
                            <input ype="email" ng-model="jid" name="jid" placeholder="user@server" value="bill@laos.buddycloud.com">
                            <label>Password:</label>
                            <input ype="password" ng-model="password" name="password" placeholder="password" value="bbb">
                            <input class="submit" type="submit" value="Log In">
                            <span class="conn-feedback"></span>
                        </form>
                    </div>
                    <div id="register" class="controlbox-pane" style="display: none;">
                        <form id="converse-register">
                            <span class="reg-feedback"></span>
                            <label>Your XMPP provider's domain name:</label>
                            <input type="text" name="domain" placeholder=" e.g. conversejs.org">
                            <p class="form-help">Tip: A list of public XMPP providers is available <a href="https://xmpp.net/directory.php" class="url" target="_blank">here</a>.</p>
                            <input class="submit" type="submit" value="Fetch registration form">
                        </form>
                    </div>
                </div>

                <div class="controlbox-panes" ng-if="page.xmpp.data.connected">
                    <div id="users" class="controlbox-pane">
                        <form class="set-xmpp-status" action="" method="post">
                            <span id="xmpp-status-holder"><dl id="target" class="dropdown">
    <dt id="fancy-xmpp-status-select" class="fancy-dropdown"><div class="xmpp-status">
    <a class="choose-xmpp-status online" data-value="I am online" href="#" title="Click to change your chat status">

        <span class="icon-online"></span>I am online
                            </a>
                            <a class="change-xmpp-status-message icon-pencil" href="#" title="Click here to write a custom status message"></a>
                    </div>
                    </dt>
                    <dd>
                        <ul class="xmpp-status-menu" style="display: none;">
                            <li>
                                <a href="#" class="online" data-value="online">
                                    <span class="icon-online"></span>
                                    Online
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dnd" data-value="dnd">
                                    <span class="icon-dnd"></span>
                                    Busy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="away" data-value="away">
                                    <span class="icon-away"></span>
                                    Away
                                </a>
                            </li>
                            <li>
                                <a href="#" class="offline" data-value="offline">
                                    <span class="icon-offline"></span>
                                    Offline
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logout" data-value="logout">
                                    <span class="icon-logout"></span>
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </dd>
                    </dl>
                    </span>
                    </form>
                    <dl class="add-converse-contact dropdown">
                        <dt id="xmpp-contact-search" class="fancy-dropdown">
        <a class="toggle-xmpp-contact-form" href="#" title="Click to add new chat contacts">
        <span class="icon-plus"></span>Add a contact</a>
    </dt>
                        <dd class="search-xmpp" style="display:none">
                            <ul>
                                <li>
                                    <form class="add-xmpp-contact">
                                        <input type="text" name="identifier" class="username" placeholder="Contact username">
                                        <button type="submit">Add</button>
                                    </form>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <div id="converse-roster"><span class="input-button-group">
    <input style="display: none;" class="roster-filter" placeholder="Type to filter">
    <select style="display: none;" class="filter-type">
        <option value="contacts">Contacts</option>
        <option value="groups">Groups</option>
    </select>
</span>
                        <dl class="roster-contacts" style="display: block;"><dt class="roster-group" data-group="Ungrouped" style="display: block;"><a href="#" class="group-toggle icon-opened" title="Click to hide these contacts">Ungrouped</a></dt>
                            <dd class="online current-xmpp-contact" ng-repeat="item in page.xmpp.data.roster"><a class="open-chat" title="Name: {{item.jid.user}}@{{item.jid.domain}}
JID: {{item.jid.user}}@{{item.jid.domain}}
Click to chat with this contact" href="#"><span class="icon-online" title="This contact is online"></span>{{item.jid.user}}@{{item.jid.domain}}</a>

                                <a class="remove-xmpp-contact icon-remove" title="Click to remove this contact" href="#"></a>

                            </dd>
                        </dl>
                    </div>
                </div>
                <div id="chatrooms" class="controlbox-pane" style="display: none;">
                    <form class="add-chatroom" action="" method="post">
                        <label>Room name</label>
                        <input type="text" name="chatroom" class="new-chatroom-name" placeholder="Room name">
                        <label>Nickname</label>
                        <input type="text" name="nick" class="new-chatroom-nick" placeholder="Nickname">
                        <label>Server</label>
                        <input type="text" name="server" class="new-chatroom-server" placeholder="Server">
                        <div class="button-group">
                            <input type="submit" class="left" name="join" value="Join Room">
                            <input type="button" class="right" name="show" id="show-rooms" value="Show rooms">
                        </div>
                    </form>
                    <dl id="available-chatrooms"></dl>
                </div>
            </div>
        </div>
    </div>
    <div class="chatroom" id="P0WB91GG/7nISnIVDbvssRjm5vU=" style="display: block;">
        <div class="box-flyout" style="height: 400px">
            <div class="dragresize dragresize-tm"></div>
            <div class="chat-head chat-head-chatroom">
                <a class="close-chatbox-button icon-close"></a>
                <a class="toggle-chatbox-button icon-minus"></a>
                <a class="configure-chatroom-button icon-wrench" style=""></a>
                <div class="chat-title">ciscuss</div>
                <p class="chatroom-topic"></p>
                <p></p>
            </div>
            <div class="chat-body">
                <div class="chat-area">
                    <div class="chat-content">
                        <div class="chat-message ">
                            <span class="chat-message-me">01:10 me:&nbsp;</span>
                            <span class="chat-message-content">test</span>
                        </div>
                        <div class="chat-message ">
                            <span class="chat-message-me">01:11 me:&nbsp;</span>
                            <span class="chat-message-content"><span class="emoticon icon-thumbs-up"></span> </span>
                        </div>
                    </div>
                    <form class="sendXMPPMessage" action="" method="post">

                        <ul class="chat-toolbar no-text-select">
                            <li class="toggle-participants">
                                <a class="icon-hide-users" title="Hide the list of participants"></a>
                            </li>
                            <li class="toggle-clear">
                                <a class="icon-remove" title="Clear all messages"></a>
                            </li>
                            <li class="toggle-smiley icon-happy" title="Insert a smilery">
                                <ul style="">
                                    <li>
                                        <a class="icon-smiley" href="#" data-emoticon=":)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wink" href="#" data-emoticon=";)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-grin" href="#" data-emoticon=":D"></a>
                                    </li>
                                    <li>
                                        <a class="icon-tongue" href="#" data-emoticon=":P"></a>
                                    </li>
                                    <li>
                                        <a class="icon-cool" href="#" data-emoticon="8)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-evil" href="#" data-emoticon=">:)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-confused" href="#" data-emoticon=":S"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wondering" href="#" data-emoticon=":\"></a>
                                    </li>
                                    <li>
                                        <a class="icon-angry" href="#" data-emoticon=">:("></a>
                                    </li>
                                    <li>
                                        <a class="icon-sad" href="#" data-emoticon=":("></a>
                                    </li>
                                    <li>
                                        <a class="icon-shocked" href="#" data-emoticon=":O"></a>
                                    </li>
                                    <li>
                                        <a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a>
                                    </li>
                                    <li>
                                        <a class="icon-heart" href="#" data-emoticon="<3"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <textarea type="text" class="chat-textarea" placeholder="Message"></textarea>
                    </form>
                </div>
                <div class="participants" style="display: block;">
                    <!-- <div class="participants"> -->
                    <form class="room-invite">
                        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input class="invited-contact tt-hint" type="text" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1;"><input class="invited-contact tt-input" placeholder="Invite..." type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="tt-dataset-contacts-dataset"></div></span></span>
                    </form>
                    <label>Occupants:</label>
                    <ul class="participant-list">
                        <li class="moderator" title="This user is a moderator">robotnic</li>
                        <li class="moderator" title="This user is a moderator">jcbrand</li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="chatbox" id="2KTnLan/Qr1Gb7HkOwCjtjzMb8Q=" style="display: block;">
        <div class="box-flyout" style="height: 400px">
            <div class="dragresize dragresize-tm"></div>
            <div class="chat-head chat-head-chatbox">
                <a class="close-chatbox-button icon-close"></a>
                <a class="toggle-chatbox-button icon-minus"></a>
                <div class="chat-title">

                    robotnic@laos.buddycloud.com

                </div>
                <p class="user-custom-message" title=" (Abwesend wegen Untätigkeit für mehr als 5 Minuten)">(Abwesend wegen Untätigkeit für mehr als 5 Minuten)</p>
                <p></p>
            </div>
            <div class="chat-body">
                <div class="chat-content">
                    <div class="chat-message ">
                        <span class="chat-message-me">01:01 me:&nbsp;</span>
                        <span class="chat-message-content">asdf</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:01 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">sdf</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:02 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">ja</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:03 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">asfd</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-me">01:04 me:&nbsp;</span>
                        <span class="chat-message-content">sdf</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:05 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">yes</span>
                    </div>
                    <div class="chat-message ">
                        <span class="chat-message-them">01:07 robotnic@laos.buddycloud.com:&nbsp;</span>
                        <span class="chat-message-content">aaa</span>
                    </div>
                    <div class="chat-event">robotnic@laos.buddycloud.com has gone away</div>
                </div>
                <form class="sendXMPPMessage" action="" method="post">

                    <ul class="chat-toolbar no-text-select">
                        <li class="toggle-clear">
                            <a class="icon-remove" title="Clear all messages"></a>
                        </li>
                        <li class="toggle-otr unencrypted" title="Your messages are not encrypted. Click here to enable OTR encryption.">
                            <span class="chat-toolbar-text">unencrypted</span>

                            <span class="icon-unlocked"></span>
                            <ul>
                                <li><a class="start-otr" href="#">Start encrypted conversation</a>
                                </li>
                                <li><a href="http://www.cypherpunks.ca/otr/help/3.2.0/levels.php" target="_blank">What's this?</a>
                                </li>
                            </ul>
                        </li>

                        <li class="toggle-smiley icon-happy" title="Insert a smilery">
                            <ul style="display: none;">
                                <li>
                                    <a class="icon-smiley" href="#" data-emoticon=":)"></a>
                                </li>
                                <li>
                                    <a class="icon-wink" href="#" data-emoticon=";)"></a>
                                </li>
                                <li>
                                    <a class="icon-grin" href="#" data-emoticon=":D"></a>
                                </li>
                                <li>
                                    <a class="icon-tongue" href="#" data-emoticon=":P"></a>
                                </li>
                                <li>
                                    <a class="icon-cool" href="#" data-emoticon="8)"></a>
                                </li>
                                <li>
                                    <a class="icon-evil" href="#" data-emoticon=">:)"></a>
                                </li>
                                <li>
                                    <a class="icon-confused" href="#" data-emoticon=":S"></a>
                                </li>
                                <li>
                                    <a class="icon-wondering" href="#" data-emoticon=":\"></a>
                                </li>
                                <li>
                                    <a class="icon-angry" href="#" data-emoticon=">:("></a>
                                </li>
                                <li>
                                    <a class="icon-sad" href="#" data-emoticon=":("></a>
                                </li>
                                <li>
                                    <a class="icon-shocked" href="#" data-emoticon=":O"></a>
                                </li>
                                <li>
                                    <a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a>
                                </li>
                                <li>
                                    <a class="icon-heart" href="#" data-emoticon="<3"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <textarea type="text" class="chat-textarea" placeholder="Personal message"></textarea>
                </form>
            </div>
        </div>
    </div>
    <div class="chatroom" id="Imq9ziUDC17g5euC+yKb0uI7Fi8=" style="display: none;">
        <div class="box-flyout" style="height: 400px">
            <div class="dragresize dragresize-tm"></div>
            <div class="chat-head chat-head-chatroom">
                <a class="close-chatbox-button icon-close"></a>
                <a class="toggle-chatbox-button icon-minus"></a>
                <a class="configure-chatroom-button icon-wrench" style="display:none"></a>
                <div class="chat-title">barachi</div>
                <p class="chatroom-topic"></p>
                <p></p>
            </div>
            <div class="chat-body">
                <div class="chat-area" style="display: none;">
                    <div class="chat-content"></div>
                    <form class="sendXMPPMessage" action="" method="post">

                        <ul class="chat-toolbar no-text-select">
                            <li class="toggle-smiley icon-happy" title="Insert a smilery">
                                <ul style="">
                                    <li>
                                        <a class="icon-smiley" href="#" data-emoticon=":)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wink" href="#" data-emoticon=";)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-grin" href="#" data-emoticon=":D"></a>
                                    </li>
                                    <li>
                                        <a class="icon-tongue" href="#" data-emoticon=":P"></a>
                                    </li>
                                    <li>
                                        <a class="icon-cool" href="#" data-emoticon="8)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-evil" href="#" data-emoticon=">:)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-confused" href="#" data-emoticon=":S"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wondering" href="#" data-emoticon=":\"></a>
                                    </li>
                                    <li>
                                        <a class="icon-angry" href="#" data-emoticon=">:("></a>
                                    </li>
                                    <li>
                                        <a class="icon-sad" href="#" data-emoticon=":("></a>
                                    </li>
                                    <li>
                                        <a class="icon-shocked" href="#" data-emoticon=":O"></a>
                                    </li>
                                    <li>
                                        <a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a>
                                    </li>
                                    <li>
                                        <a class="icon-heart" href="#" data-emoticon="<3"></a>
                                    </li>
                                </ul>
                            </li>



                            <li class="toggle-participants">
                                <a class="icon-hide-users" title="Hide the list of participants"></a>
                            </li>


                            <li class="toggle-clear">
                                <a class="icon-remove" title="Clear all messages"></a>
                            </li>


                        </ul>

                        <textarea type="text" class="chat-textarea" placeholder="Message"></textarea>
                    </form>
                </div>
                <div class="participants" style="display: none;">
                    <!-- <div class="participants"> -->
                    <form class="room-invite">
                        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input class="invited-contact tt-hint" type="text" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1;"><input class="invited-contact tt-input" placeholder="Invite..." type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="tt-dataset-contacts-dataset"></div></span></span>
                    </form>
                    <label>Occupants:</label>
                    <ul class="participant-list">
                        <li class="participant" title="This user can send messages in this room">robotnic</li>
                        <li class="moderator" title="This user is a moderator">jcbrand</li>
                    </ul>
                    <!-- </div> -->
                </div>
                <div class="chatroom-form-container">
                    <form class="chatroom-form">
                        <legend>This chatroom requires a password</legend>
                        <label>Password:</label>
                        <input type="password" name="password">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="chatroom" id="pU+91P65gIA8eie/4hUIG9+8BrM=">
        <div class="box-flyout" style="height: 263px">
            <div class="dragresize dragresize-tm"></div>
            <div class="chat-head chat-head-chatroom">
                <a class="close-chatbox-button icon-close"></a>
                <a class="toggle-chatbox-button icon-minus"></a>
                <a class="configure-chatroom-button icon-wrench" style="display:none"></a>
                <div class="chat-title">discuss</div>
                <p class="chatroom-topic"></p>
                <p></p>
            </div>
            <div class="chat-body">
                <div class="chat-area">
                    <div class="chat-content">
                        <div class="chat-message delayed">
                            <span class="chat-message-them">11:16 hudeyi:&nbsp;</span>
                            <span class="chat-message-content">这是哪里？</span>
                        </div>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">11:16 hudeyi:&nbsp;</span>
                            <span class="chat-message-content">为什么能来这里？</span>
                        </div>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">11:16 hudeyi:&nbsp;</span>
                            <span class="chat-message-content">兄弟们，驾驭啊</span>
                        </div>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">08:18 vaig:&nbsp;</span>
                            <span class="chat-message-content">hi</span>
                        </div>
                        <time class="chat-date" datetime="2015-04-04">Saturday Apr 4th 2015</time>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">04:49 kaissi:&nbsp;</span>
                            <span class="chat-message-content">hi</span>
                        </div>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">05:13 abukawsar:&nbsp;</span>
                            <span class="chat-message-content">hello there</span>
                        </div>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">09:15 abed:&nbsp;</span>
                            <span class="chat-message-content">kkkk</span>
                        </div>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">09:16 abed:&nbsp;</span>
                            <span class="chat-message-content">jjj</span>
                        </div>
                        <time class="chat-date" datetime="2015-04-05">Sunday Apr 5th 2015</time>
                        <div class="chat-message delayed">
                            <span class="chat-message-them">10:44 lol:&nbsp;</span>
                            <span class="chat-message-content">??</span>
                        </div>
                        <time class="chat-date" datetime="2015-04-07">Tuesday Apr 7th 2015</time>
                        <div class="chat-message delayed">
                            <span class="chat-message-me">12:59 me:&nbsp;</span>
                            <span class="chat-message-content">cool webchat</span>
                        </div>
                    </div>
                    <form class="sendXMPPMessage" action="" method="post">

                        <ul class="chat-toolbar no-text-select">
                            <li class="toggle-smiley icon-happy" title="Insert a smilery">
                                <ul style="display: block;">
                                    <li>
                                        <a class="icon-smiley" href="#" data-emoticon=":)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wink" href="#" data-emoticon=";)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-grin" href="#" data-emoticon=":D"></a>
                                    </li>
                                    <li>
                                        <a class="icon-tongue" href="#" data-emoticon=":P"></a>
                                    </li>
                                    <li>
                                        <a class="icon-cool" href="#" data-emoticon="8)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-evil" href="#" data-emoticon=">:)"></a>
                                    </li>
                                    <li>
                                        <a class="icon-confused" href="#" data-emoticon=":S"></a>
                                    </li>
                                    <li>
                                        <a class="icon-wondering" href="#" data-emoticon=":\"></a>
                                    </li>
                                    <li>
                                        <a class="icon-angry" href="#" data-emoticon=">:("></a>
                                    </li>
                                    <li>
                                        <a class="icon-sad" href="#" data-emoticon=":("></a>
                                    </li>
                                    <li>
                                        <a class="icon-shocked" href="#" data-emoticon=":O"></a>
                                    </li>
                                    <li>
                                        <a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a>
                                    </li>
                                    <li>
                                        <a class="icon-heart" href="#" data-emoticon="<3"></a>
                                    </li>
                                </ul>
                            </li>



                            <li class="toggle-participants">
                                <a class="icon-hide-users" title="Hide the list of participants"></a>
                            </li>


                            <li class="toggle-clear">
                                <a class="icon-remove" title="Clear all messages"></a>
                            </li>


                        </ul>

                        <textarea type="text" class="chat-textarea" placeholder="Message"></textarea>
                    </form>
                </div>
                <div class="participants" style="display: block;">
                    <!-- <div class="participants"> -->
                    <form class="room-invite">
                        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input class="invited-contact tt-hint" type="text" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1;"><input class="invited-contact tt-input" placeholder="Invite..." type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="tt-dataset-contacts-dataset"></div></span></span>
                    </form>
                    <label>Occupants:</label>
                    <ul class="participant-list">
                        <li class="participant" title="This user can send messages in this room">robotnic</li>
                        <li class="moderator" title="This user is a moderator">jcbrand</li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div id="minimized-chats" style="display: none;">
        <a id="toggle-minimized-chats" href="#">Minimized <span id="minimized-count">(0)</span>
<span class="unread-message-count" style="display: none" href="#">0</span>
</a>
        <div class="minimized-chats-flyout" style="display: block;"></div>
    </div>
    </div>
</body>

</html>
