                    <div id="login-dialog" class="controlbox-pane">
                        <form id="converse-login" method="post" ng-submit="page.login(jid,password)">
                            <label>XMPP Username:</label>
                            <input ype="email" ng-model="jid" name="jid" placeholder="user@server" value="bill@laos.buddycloud.com">
                            <label>Password:</label>
                            <input ype="password" ng-model="password" name="password" placeholder="password" value="bbb">
                            <input class="submit" type="submit" value="Log In">
                            <span class="conn-feedback"></span>
                        </form>
                    </div>

